@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@600;700;800&family=Roboto:wght@300;400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  /* color: #fff; */
}

body {
  /* background-color: rgb(186,73,73); */
  transition: 0.8s;
}

.link, a {
  text-decoration: none;
  color: #fff;
}

nav {
    max-width: 90vw;
    margin: auto;
    display: flex;
    gap: 20px;
    align-items: center;
    padding: 15px 5px;
    margin-bottom: 100px;
}

.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    flex: 1;
    color: #fff;
}

.logo__icon {
    color: #fff;
    font-size: 24px;
    display: inline-block;
}

h1 {
    font-size: 26px;
}

nav button {
    border: none;
    display: flex;
    align-items: center;
    padding: 8px 10px;
    gap: 3px;
    font-size: 18px;
    border-radius: 5px;
    background-color: #faf7f71c;
    color: #fff;
    cursor: pointer;
}

.login {
    text-decoration: none;
    color: #fff;
    background-color: #faf7f71c;
    padding: 8px 10px;
    border-radius: 5px;
}

.categories {
    max-width: 550px;
    margin: auto;
    color: #fff;
    background-color: #faf7f71c;
    padding: 30px 0;
    text-align: center;
    border-radius: 10px;
    /* -webkit-box-shadow: -1px 1px 29px -16px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -1px 1px 29px -16px rgba(34, 60, 80, 0.2);
    box-shadow: -1px 1px 29px -16px rgba(34, 60, 80, 0.2); */
}

.timers {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 400px;
    margin: auto;
}

.timers a {
    font-size: 20px;
    font-weight: 400;
    padding: 4px 15px;
    transition: 0.2s;
}

.timer {
    text-align: center;
    position: relative;
}

a[data = active] {
    background-color: rgba(0, 0, 0, 0.169);
    border-radius: 4px;
}

.countDown {
    font-size: 120px;
    font-weight: 700;
    font-family: 'Nunito', sans-serif;
    margin: 10px 0;
}

.start {
    border: none;
    background-color: #fff;
    /* color: rgb(186,73,73); */
    font-size: 32px;
    font-weight: 500;
    padding: 12px 55px;
    border-radius: 5px;
}

#pomodoro-pause {
    display: none;
    align-items: center;
}

#short-pause {
    display: none;
}

#long-pause {
    display: none;
}

.focus-numbers {
    position: absolute;
    bottom: -115px;
    left: 50%;
    transform: translateX(-50%);
}

.focus-numbers > strong {
    font-size: 18px;
    font-weight: 400;
    color: #faf7f7b4;
}

.focus-numbers > p {
    font-size: 22px;
    margin-top: 5px;
    display: flex;
    gap: 5px;
}


/* settings */

.setting-container {
    display: none;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.185);
    position: absolute;
    top: 0;
}

.settings-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);
    background-color: #fff;
    max-width: 400px;
    width: 100%;
    padding: 20px;
    border-radius: 12px;
}

.settings-bg {
    position: absolute;
    top: 0;
    max-width: 100vw;
    width: 100%;
    min-height: 100vh;
}

.settings-wrapper h3 {
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 17px;
}

.settings {
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    height: 45px;
    font-size: 20px;
    color: rgb(71, 70, 70);
    /* padding-bottom: 20px; */
    border-bottom: 1px solid rgb(197, 194, 194);
}

.settings p {
    font-weight: 500;
}

.settings i {
    font-size: 25px;
    transition: 0.15s;
}

.settings i:hover {
    cursor: pointer;
    font-size: 30px;
}

.settings_timer-title {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgb(184, 182, 182);
    padding: 20px 0;
}

.settings_text{
    font-weight: 500;
    font-size: 18px;
    letter-spacing: 1px;
    padding-bottom: 10px;
}

.settings_timers {
    /* max-width: 100%; */
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(197, 194, 194);
}

.settings_timers label {
    font-weight: 500;
    color: rgb(154, 152, 152);
}

.settings_timers input {
    max-width: 100px;
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: rgb(244, 240, 240);
    padding: 10px;
    font-size: 18px;
    margin-top: 5px;
    border-radius: 5px;
}

.settings_theme-title {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 20px 0;
    color: rgb(184, 182, 182);
}

.settings_themes {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding-bottom: 10px;
}

.settings_themes p {
    font-weight: 500;
}

.theme {
    width: 100px;
    height: 80px;
    /* background-color: red; */
    border-radius: 10px;
    margin-top: 5px;
    cursor: pointer;
}

#pomo-theme {
    background-color: rgb(186,73,73);
}

#short-theme {
    background-color: rgb(57,112,151);
}

#long-theme {
    background-color: rgb(125,83,162);
}

.form-btn {
    margin-top: 30px;
    width: 100%;
    border: none;
    background-color: rgb(71, 70, 70);
    background-color: rgba(0, 0, 0, 0.772);
    color: #fff;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
}